.tag {
    background-color: #FF6060;
    padding: 5px 30px;
    margin: 0 5px;
    color: white;
    font-size: 14px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .tag {
        margin: 0;
        font-size: 10px;
    }
}
