.dropDown--apropos, .dropDown--logement {
    margin-bottom: 30px;
}
.dropDown--logement {
    width: 41vw;
}

.dropDown--apropos {
    width: 100%;
}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    color: white;
    padding: 15px 20px;
    text-align: left;
    border-radius: 10px;
    font-size: 18px;
}

.arrowDropDown {
    width: 20px;
    height: 10px;
    cursor: pointer;
}

.arrowOff {
    transform: rotate(180deg);
}

.arrowOn {
    transform: rotate(0deg);
}

.body--apropos, .body--logement {
    margin: 0;
    padding: 20px;
    background-color: #F6F6F6;
    position: relative;
    z-index: -1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transform-origin: top;
    animation-name: DropDownAnim;
    animation-duration: 0.20s;
    animation-fill-mode: forwards;
    transform: translateY(-20px);
}

.body--logement {
    height: 200px;
    font-size: 16px;
    line-height: 1.5rem;
}

.body--apropos {
    height: auto;
    font-size: 22px;
}

.dropDownContent {
    list-style: none;
    text-align: left;
    padding: 0;
}

li {
    color: #FF6060;
    
}


@media screen and (max-width: 768px) {
    .dropDown--logement {
       width: 100%;
    }

    li{
        font-size: 14px;
    }
}

@keyframes DropDownAnim {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}
