.header_right {
    width: 180px;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 768px) {
    .header_right {
        width: 130px;
        
    }

    .header_right a {
        font-size: 12px;
    }
}
