.annonceHeader{
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-bottom: 30px;
}

.right, .left {
    height: auto;
}

.left {
    width: 75%;
    padding-right: 20px;
}

.right {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.h1 {
    font-size: 34px;
    color: #FF6060;
    font-weight: 500;
    text-align: left;
    margin: 0;
    transform: translateY(0px);
    line-height: 2.7rem;
}

.location {
    margin: 0;
    font-size: 18px;
    text-align: left;
    color: #FF6060;
    font-weight: normal;
    margin-bottom: 30px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


@media screen and (max-width: 768px) {
    .annonceHeader {
        flex-direction: column;
        height: auto;
    }

    .left {
        width: 100%;
        padding-right: 0;
        margin-bottom: 20px;
    }

    .h1 {
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 1.8rem;
    }

    .left h2 {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 15px;
        padding: 0;
    }

    .right {
        width: 100%;
        flex-direction: row-reverse;
        align-items: center;
    }

}



