.cards {
    background-color: #F6F6F6;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 50px;
    border-radius: 30px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1024px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .cards {
        grid-template-columns: 1fr;
        background-color: white;
        padding: 0;
        gap: 15px;
    }
}